<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>vendita</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Lista di tutte le aste chiuse</h1>
			<p
				th:text="${'Nice to see you again ' + session.utente.id_utente+' '}"></p>


			<table class="table">
				<thead>
					<tr>
						<th>Asta id</th>
						<th>titolo</th>
						<th>descrizione</th>
						<th>immagine</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="asta : ${listaAsteChiuse}">
						<td th:text="${asta.asta_id}">a</td>
						<td th:text="${asta.titolo}">a</td>
						<td th:text="${asta.descrizione}">c</td>
						<td><a
							th:href="@{/GoToAstaChiusaDetails(asta_id=${asta.asta_id})}">Details</a></td>
					</tr>
				</tbody>
			</table>
		</div>


		<div>
			<p>Completa il form per creare una nuova Asta Aperta</p>
			<form action="#" th:action="@{/CreaAstaAperta}" method="POST"
				enctype="multipart/form-data">
				<fieldset>
					<p>
						nome: <input type="text" name="nome" required />
					</p>
					<p>
						descrizione: <input type="text" name="descrizione" required />
					</p>
					<p>
						prezzo iniziale: <input type="text" name="prezzo_iniziale"
							required />
					</p>
					<p>
						minimo rialzo: <input type="text" name="minimo_rialzo" required />
					</p>
					<p>
						Data apertura: <input type="datetime-local" name="data_apertura"
							th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd hh:mm:ss')}"
							placeholder="yyyy-MM-dd hh:mm:ss" required />
					</p>
					<p>
						Data scadenza: <input type="datetime-local" name="data_scadenza"
							th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd hh:mm:ss')}"
							placeholder="yyyy-MM-dd hh:mm:ss" required />
					</p>

					<p>
						<input type="file" name="immagine" />
					</p>

					<input type="submit" name="Create Asta Aperta">
				</fieldset>
			</form>


			<div class="row">
				<h1>Lista di tutte le aste Aperte</h1>
				<table class="table">
					<thead>
						<tr>
							<th>nome</th>
							<th>titolo</th>
							<th>descrizione</th>
							<th>Max Offerta</th>
							<th>Link</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="asta : ${listaAsteAperte}">
							<td th:text="${asta.asta_id}">a</td>
							<td th:text="${asta.titolo}">c</td>
							<td th:text="${asta.descrizione}">c</td>
							<td th:text="${asta.max_offerta}">d</td>
							<td><a
								th:href="@{/GoToAstaApertaDetails(asta_id=${asta.asta_id})}">Details</a></td>
					</tbody>
				</table>
			</div>

		</div>
		<div>
			<a th:href="@{/GetHomepage}">ritorna alla home</a>
		</div>
	</div>
</body>
</html>