<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dettagli Asta CHiusa</title>
</head>
<body>
	<h1>Asta chiusa details</h1>
	<div>
		<p th:text=" ${'Descrizione ' + astaChiusa.descrizione}"></p>
		<p th:text="${'aggiudicatario: ' + astaChiusa.aggiudicatario}"></p>
		<p th:text="${'spedizione ' + astaChiusa.spedizione}"></p>
		<p th:text="${'ora apertura ' + astaChiusa.data_apertura}"></p>
		<p th:text="${'id utente ' + astaChiusa.id_utente}"></p>
	</div>
	
	
</body>
</html>