<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dettagli Asta Aperta</title>
</head>
<body>
	<h1>Asta Aperta details</h1>
	<div>
		<p th:text=" ${'Descrizione ' + astaAperta.titolo}"></p>
		<p th:text="${'aggiudicatario: ' + astaAperta.descrizione}"></p>
		<p th:text="${'spedizione ' + astaAperta.prezzo_iniziale}"></p>
		<p th:text="${'ora apertura ' + astaAperta.minimo_rialzo}"></p>
	</div>
	
	
	<h1>Premi il Bottone per chiudere l'asta corrente !</h1>
	<form action="#" th:action="@{/ChiudiAstaAperta}" method="POST">
			<fieldset>			
				<input type="hidden" name="asta_id" th:value="${astaAperta.asta_id}">
				<input type="submit" name="Chiudi Asta Aperta">
			</fieldset>
	</form>
	
                
                
                
     <div class="container">
        <div class="row">
            <h1>Ecco tutte le offerte di questa asta</h1>
           
            <table class="table">
                <thead>
                    <tr>
                        <th>Id offerente :</th>
                         <th>importo :</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="offerta : ${listaOfferte}">
                        <td th:text="${offerta.offerente}">a</td>
                        <td th:text="${offerta.importo}">a</td>
                    </tr>
                </tbody>
            </table>
        </div>
	
</body>
</html>